<mat-card>
  <h1>Tijd voor inspiratie</h1>
  <p><strong>Kapoenen <br></strong></p>
  <p>Kom op ontdekking en leer waar jij en je kapoenen goed in zijn! Nieuwe spelen, moeilijke kapoenen, verhalen
    bedenken, spelen in elkaar boksen, omgaan met ouders,... dit en méér kan je vinden in het kapoenenaanbod!</p>
  <p><strong>Welpen <br></strong></p>
  <p>Of je nu nieuw bent in de horde, al wat lessen van Baloe onder de knie hebt, of een ervaren Akela bent, doet er
    niet
    zo toe. Bij ons vind je workshops om ervaringen uit te wisselen, om nieuwe spellen te leren, om je kookkunsten bij
    te
    schaven,... Kortom, in onze jungle is er voor elk wat wils.</p>
  <p><strong>Jonggivers <br></strong></p>
  <p>Als leiding ben je een held voor je leden omdat je ze vanalles kan leren. Doe daarom snel even wat frisse ideeën
    op
    en verras je jonggivers. Zo valt op de jonggivergrond heel wat te ontdekken over tweedaagsetechnieken, kokerellen
    met
    jonggivers, bosspelen, kampthema en inkleding, totemisatie.</p>
  <p><strong>Givers <br></strong></p>
  <p>Klaar om een fantastisch jaar als giverleiding tegemoet te gaan? Na het volgen van een van onze workshops zeker
    wel!
    Aan de vijver bieden wij jullie inspiratie om in het kader van het jaarthema met je givers van het buitenleven te
    genieten, tips en tricks om originele en uitdagende projecten op te bouwen, een kans om even stil te staan bij
    totemisatie en nog veel meer.</p>
  <p><strong>Jins <br></strong></p>
  <p>Zin om je jinjaar zonder kleerscheuren te overleven? Op zoek naar een originele jinvergadering? Ideeën nodig voor
    het eerste jinweekend? Zin in een leuk project, maar weet je niet goed hoe eraan te beginnen? Inspiratie nodig?
    Meer
    weten over kampen, leefweek en kleurentotems? Prima, wees dan welkom op onze Jingrond.</p>
  <p><strong>Groepsleiding <br></strong></p>
  <p>Net groepsleiding geworden? Al veel ervaring, maar de website of groepsadministratie vlot niet? Waar en hoe vind
    ik
    nieuwe leiding? Hoe start ik een oudercomité op? Talloze vragen waar je hier een antwoord op vindt!</p>
  <p><strong>Zeescouts <br></strong></p>
  <p>Vorming voor zeebonken en riviervrouwen. Dit is voor landscouts ook hét moment om eens over het muurtje te gluren
    bij de vrienden van de zeescouts. We dompelen je onder in de wereld van de nautische vaardigheden.</p>
  <p><strong>Akabe <br></strong></p>
  <p>Scouting... zonder beperking! Een handicap hoeft geen beperking te zijn. Ontdek hoe je het maximum kan halen uit
    je
    groep en echt iedereen meekrijgt bij scouting, of je nu een lid hebt met ADHD, autisme of downsyndroom.
    Rolstoelspelen, klauteren in de bossen, zwaardgevechten... we doen het gewoon bij Akabe!</p>
  <p><strong>Actie en spel <br></strong></p>
  <p>Scouting da’s proeven. Op de actie en spelgrond kan je vooral zelf heel wat spelen ontdekken. Van zwerkbal tot
    bosspel. We nemen je mee op een ontdekkingstocht.</p>
  <p><strong>EHBO <br></strong></p>
  <p>Eerste Hulp Bij Ongevallen kunnen toedienen, het blijft een handige skill voor leiding. Het Jeugd Rode Kruis komt
    het ons nog eens allemaal haarfijn uitleggen.</p>
  <p><strong>Technieken<br></strong></p>
  <p>Een markt vol met technieken en experimenten. Van knopen leggen tot vuur maken, van hout klieven tot… , wij
    voorzien
    techniekenweetjes voor ervaren en minder ervaren techneuten</p>
  <p><strong>Zit je soutscarrière erop <br></strong></p>
  <p>maar kriebelt het om nog iets meer te doen? Inspiratie nodig over een goede stam- of oudleidingswerking? Heb je
    expertise waar we bij Scouts en Gidsen Vlaanderen nog iets mee kunnen doen? (enkel tijdens sessie 1)</p>
</mat-card>