<mat-expansion-panel [ngClass]="{'active': item.active, 'passed': item.passed}"
                     [hideToggle]="!item.description"
                     [expanded]="item.active">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span *ngIf="item.showStart">{{item.start | date:'Humm':'+0200' }}</span>
      <span *ngIf="item.showStart && item.showEnd">-</span>
      <span *ngIf="item.showEnd">{{item.end | date:'Humm':'+0200'}}</span>
    </mat-panel-title>
    <mat-panel-description>
      {{item.title}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>{{item.description}}</p>
</mat-expansion-panel>