<mat-card>
  <mat-card-header>
    <mat-card-title>Barinfo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>De bar op de grote grond sluit om 02:30</mat-list-item>
      <mat-list-item>De bar van K30 sluit om 02:00</mat-list-item>
      <mat-list-item>De bar van Loods 30 grond sluit om 02:00</mat-list-item>
      <mat-list-item>De bonnentjesverkoop sluit telkens een half uur vroeger</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Free Wifi</mat-card-title>
    <mat-card-subtitle>Op de grote grond</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>SSID:&nbsp;
        <code>[HO] pw=herfstontmoeting</code>
      </mat-list-item>
      <mat-list-item>
        Het wachtwoord is:&nbsp;
        <code>herfstontmoeting</code>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<app-emergency-info>
</app-emergency-info>