<mat-card>
  <mat-card-header>
    <mat-card-title>Barinfo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span class="hour">20.00 - 1.45</span>
        <p> <a [routerLink]="['/', 'map']"
             [queryParams]="{location: 'K30'}">K30</a> en <a [routerLink]="['/', 'map']"
             [queryParams]="{location: '30'}">Loods 30</a> (zaterdag)</p>
      </mat-list-item>
      <mat-list-item>
        <span class="hour">20.00 - 2.30</span>
        <p> <a [routerLink]="['/', 'map']"
             [queryParams]="{location: 'GG'}">Grote grond</a></p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Gratis Wifi</mat-card-title>
    <mat-card-subtitle>Op de grote grond</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Verbind met onze gratis WiFi op de grote grond.</mat-card-content>
</mat-card>
<app-emergency-info>
</app-emergency-info>