<div class="info"
     (swipeleft)="onSwipeLeft($event)"
     (swiperight)="onSwipeRight($event)">
  <mat-tab-group mat-align-tabs="center"
                 [selectedIndex]="selectedIndex">
    <mat-tab label="Praktisch">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Barinfo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>De bar op de grote grond sluit om 02:30</mat-list-item>
            <mat-list-item>De bar van K30 sluit om 02:00</mat-list-item>
            <mat-list-item>De bar van Loods 30 grond sluit om 02:00</mat-list-item>
            <mat-list-item>De bonnentjesverkoop sluit telkens een half uur vroeger</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Free Wifi</mat-card-title>
          <mat-card-subtitle>Op de grote grond</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>SSID:&nbsp;
              <code>[HO] pw=herfstontmoeting</code>
            </mat-list-item>
            <mat-list-item>
              Het wachtwoord is:&nbsp;
              <code>herfstontmoeting</code>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <app-emergency-info>
      </app-emergency-info>
    </mat-tab>
    <mat-tab label="Tijd voor inspiratie">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Tijd voor inspiratie</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Kapoenen <br></strong></p>
          <p>Kom op ontdekking en leer waar jij en je kapoenen goed in zijn! Nieuwe spelen, moeilijke kapoenen,
            verhalen
            bedenken, spelen in elkaar boksen, omgaan met ouders,... dit en méér kan je vinden in het kapoenenaanbod!
          </p>
          <p><strong>Welpen <br></strong></p>
          <p>Of je nu nieuw bent in de horde, al wat lessen van Baloe onder de knie hebt, of een ervaren Akela bent,
            doet
            er
            niet
            zo toe. Bij ons vind je workshops om ervaringen uit te wisselen, om nieuwe spellen te leren, om je
            kookkunsten
            bij
            te
            schaven,... Kortom, in onze jungle is er voor elk wat wils.</p>
          <p><strong>Jonggivers <br></strong></p>
          <p>Als leiding ben je een held voor je leden omdat je ze vanalles kan leren. Doe daarom snel even wat frisse
            ideeën
            op
            en verras je jonggivers. Zo valt op de jonggivergrond heel wat te ontdekken over tweedaagsetechnieken,
            kokerellen
            met
            jonggivers, bosspelen, kampthema en inkleding, totemisatie.</p>
          <p><strong>Givers <br></strong></p>
          <p>Klaar om een fantastisch jaar als giverleiding tegemoet te gaan? Na het volgen van een van onze workshops
            zeker
            wel!
            Aan de vijver bieden wij jullie inspiratie om in het kader van het jaarthema met je givers van het
            buitenleven
            te
            genieten, tips en tricks om originele en uitdagende projecten op te bouwen, een kans om even stil te staan
            bij
            totemisatie en nog veel meer.</p>
          <p><strong>Jins <br></strong></p>
          <p>Zin om je jinjaar zonder kleerscheuren te overleven? Op zoek naar een originele jinvergadering? Ideeën
            nodig
            voor
            het eerste jinweekend? Zin in een leuk project, maar weet je niet goed hoe eraan te beginnen? Inspiratie
            nodig?
            Meer
            weten over kampen, leefweek en kleurentotems? Prima, wees dan welkom op onze Jingrond.</p>
          <p><strong>Groepsleiding <br></strong></p>
          <p>Net groepsleiding geworden? Al veel ervaring, maar de website of groepsadministratie vlot niet? Waar en
            hoe
            vind
            ik
            nieuwe leiding? Hoe start ik een oudercomité op? Talloze vragen waar je hier een antwoord op vindt!</p>
          <p><strong>Zeescouts <br></strong></p>
          <p>Vorming voor zeebonken en riviervrouwen. Dit is voor landscouts ook hét moment om eens over het muurtje te
            gluren
            bij de vrienden van de zeescouts. We dompelen je onder in de wereld van de nautische vaardigheden.</p>
          <p><strong>Akabe <br></strong></p>
          <p>Scouting... zonder beperking! Een handicap hoeft geen beperking te zijn. Ontdek hoe je het maximum kan
            halen
            uit
            je
            groep en echt iedereen meekrijgt bij scouting, of je nu een lid hebt met ADHD, autisme of downsyndroom.
            Rolstoelspelen, klauteren in de bossen, zwaardgevechten... we doen het gewoon bij Akabe!</p>
          <p><strong>Actie en spel <br></strong></p>
          <p>Scouting da’s proeven. Op de actie en spelgrond kan je vooral zelf heel wat spelen ontdekken. Van zwerkbal
            tot
            bosspel. We nemen je mee op een ontdekkingstocht.</p>
          <p><strong>EHBO <br></strong></p>
          <p>Eerste Hulp Bij Ongevallen kunnen toedienen, het blijft een handige skill voor leiding. Het Jeugd Rode
            Kruis
            komt
            het ons nog eens allemaal haarfijn uitleggen.</p>
          <p><strong>Technieken<br></strong></p>
          <p>Een markt vol met technieken en experimenten. Van knopen leggen tot vuur maken, van hout klieven tot… ,
            wij
            voorzien
            techniekenweetjes voor ervaren en minder ervaren techneuten</p>
          <p><strong>Zit je soutscarrière erop <br></strong></p>
          <p>maar kriebelt het om nog iets meer te doen? Inspiratie nodig over een goede stam- of oudleidingswerking?
            Heb
            je
            expertise waar we bij Scouts en Gidsen Vlaanderen nog iets mee kunnen doen? (enkel tijdens sessie 1)</p>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Leefregels">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Leefregels</mat-card-title>
          <mat-card-subtitle>Zeven vuistregels van Herfstontmoeting. Zo houden we het gezellig voor iedereen en
            betaalbaar
            voor de organisatie.</mat-card-subtitle>
        </mat-card-header>
        <img class="rules"
             mat-card-image
             src="/assets/pictures/2016_leefregels_samen.jpg"
             alt="Leefregels figuren">
        <mat-card-content>
          <mat-list>
            <mat-list-item>Neem actief deel aan het programma</mat-list-item>
            <mat-list-item>Drink alcohol met mate</mat-list-item>
            <mat-list-item>Geen eigen drank meenemen naar HO</mat-list-item>
            <mat-list-item>Geen drugs</mat-list-item>
            <mat-list-item>Respecteer elkaars nachtrust (vanaf 22u.)</mat-list-item>
            <mat-list-item>Heb respect voor elkaar</mat-list-item>
            <mat-list-item>Rook enkel in de rookzones</mat-list-item>
          </mat-list>
          <p><strong>Opgelet</strong>: vuurwerk, bommetjes en
            voetzoekers zijn verboden op Herfstontmoeting.</p>
          <p>Door je in te schrijven voor herfstontmoeting, ga je akkoord met de leefregels. <br>Overtreed je de
            leefregels?
            Dan
            zal er een sanctie en natraject volgen.</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Sancties overtreden leefregels HO</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Wat is…</strong></p>
          <p><strong>Overlast</strong>: overtreden van leefregel ('s nachts luid roepen, dronken gedrag, agressie ...)
            en
            aanspreken betrokkene verandert niets aan de situatie<br> <strong>Overlast met schade</strong>: elk gedrag
            dat
            (al
            dan niet moedwillig) schade toebrengt aan materialen en personen zowel persoonlijk als organisatie
            (diefstal,
            vandalisme, vechten, vuurwerk, ...)<br> <strong>Natraject</strong>: traject na HO van individu of groep
            onder
            begeleiding van groepsleiding, district, gouw en stafmedewerker.</p>
          <mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="wat">
              <mat-header-cell *matHeaderCellDef> Wat? </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.wat}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="oke">
              <mat-header-cell *matHeaderCellDef> Oké op HO? </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.oke}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sanctie">
              <mat-header-cell *matHeaderCellDef> Sanctie? </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.sanctie}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>


          <table width="767"
                 cellspacing="0"
                 cellpadding="0"
                 border="1">
            <tbody>
              <tr>
                <td width="267"
                    valign="top">
                  <p><strong>Wat?</strong></p>
                </td>
                <td width="234"
                    valign="top">
                  <p><strong>Oké op HO?</strong></p>
                </td>
                <td width="267"
                    valign="top">
                  <p><strong>Sanctie?</strong></p>
                </td>
              </tr>
              <tr>
                <td width="267"
                    valign="top">
                  <p>(alle) drugs</p>
                </td>
                <td width="234"
                    valign="top">
                  <p>NEEN</p>
                </td>
                <td width="267"
                    valign="top">
                  <p>Naar huis + natraject</p>
                </td>
              </tr>
              <tr>
                <td width="267"
                    valign="top">
                  <p>Dronken aankomen op HO</p>
                </td>
                <td width="234"
                    valign="top">
                  <p>Sanctie bij overlast met schade</p>
                </td>
                <td width="267"
                    valign="top">
                  <p><span style="text-decoration: underline;">Overlast: verwittigen ploeg veiligheid</span></p>
                  <p><span style="text-decoration: underline;">Overlast met schade: </span>naar huis + natraject</p>
                </td>
              </tr>
              <tr>
                <td width="267"
                    valign="top">
                  <p>Eigen drank</p>
                </td>
                <td width="234"
                    valign="top">
                  <p>NEEN</p>
                </td>
                <td width="267"
                    valign="top">
                  <p>Indien weigering om drank af te geven: toegang tot HO ontzeggen / afnemen + ploeg veiligheid
                    verwittigen</p>
                </td>
              </tr>
              <tr>
                <td width="267"
                    valign="top">
                  <p>Pintjes / alcohol</p>
                </td>
                <td width="234"
                    valign="top">
                  <p>Sanctie bij overlast met schade</p>
                </td>
                <td width="267"
                    valign="top">
                  <p><span style="text-decoration: underline;">Overlast: verwittigen ploeg veiligheid</span></p>
                  <p><span style="text-decoration: underline;">Overlast met schade: </span>naar huis + natraject</p>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>