<div class="info"
     (swipeleft)="onSwipeLeft($event)"
     (swiperight)="onSwipeRight($event)">
  <mat-tab-group mat-align-tabs="center"
                 [selectedIndex]="selectedIndex">
    <mat-tab label="Praktisch">
      <app-praktisch></app-praktisch>
    </mat-tab>
    <mat-tab label="Tijd voor inspiratie">
      <app-tijd-voor-inspiratie></app-tijd-voor-inspiratie>
    </mat-tab>
    <mat-tab label="Leefregels">
      <app-leefregels></app-leefregels>
    </mat-tab>
  </mat-tab-group>
</div>