<div class="container"
     [class.is-mobile]="mobileQuery.matches"
     (swipeleft)="onSwipeLeft($event)"
     (swiperight)="onSwipeRight($event)">
  <mat-toolbar color="primary"
               class="toolbar">
    <button mat-icon-button
            aria-label="menu"
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name"
        [routerLink]="['/']">HO Gids</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item
           routerLink="/home"
           (click)="sidenav.close()">
          <mat-icon>home</mat-icon> Home
        </a>
        <a mat-list-item
           routerLink="/calendar"
           (click)="sidenav.close()">
          <mat-icon>calendar_today</mat-icon> Agenda
        </a>
        <a mat-list-item
           routerLink="/map"
           (click)="sidenav.close()">
          <mat-icon>map</mat-icon> Kaart
        </a>
        <a mat-list-item
           routerLink="/info"
           (click)="sidenav.close()">
          <mat-icon>info</mat-icon> Info
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>