<mat-card>
  <mat-card-header>
    <div mat-card-avatar
         class="voorwoord-header-avatar"></div>
    <mat-card-title>Welkom op HO 2019!</mat-card-title>
    <mat-card-subtitle>van de verbondscommissaris</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
       class="voorwoord-header-image"
       src="../../assets/pictures/scoutmoedig.svg"
       alt="Jaarlogo scoutmoedig">
  <mat-card-content>
    <p>Geniet ervan en veel succes</p>
    <p>
      Anton Smagghe<br>
      Verbondscommissaris
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Wat is HO?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Op Herfstontmoeting beleef je samen met andere scouts en gidsenleiding een dolgek weekend <strong>van 23
        augustus tot 25 augustus 2019&nbsp;</strong>in de Hoge Rielen te Kasterlee.</p>
    <p>Herfstontmoeting is het <strong>startweekend voor alle leiding</strong> van Scouts en Gidsen Vlaanderen.</p>
    <p>Het is een weekend waar:</p>
    <ul>
      <li>het jaarthema voorgesteld wordt&nbsp;</li>
      <li>je vorming volgt</li>
      <li>je nieuwe mensen ontmoet</li>
      <li>je van knotsgekke shows geniet </li>
      <li>je heerlijk leiding bent </li>
    </ul>

    <h3>Prijskaartje?</h3>
    <p>Schrijf je op voorhand in, dan betaal je als deelnemer <strong>€43</strong>.<br>Aan de kassa betaal je
      <strong>€47</strong>.</p>
    <p>Met je bewijs van deelname kan je in je gemeente (een deel van) je inschrijvingsgeld terugvragen.<br> Wil je
      weten hoeveel jouw gemeente terugbetaalt? Neem dan een kijkje op <a rel="noreferrer"
         href="https://www.speelplein.net/vorming/cursussen/terugbetaling"
         target="_blank"> de site van de VDS</a>.</p>
    <h3>Wat breng je mee naar Herfstontmoeting?</h3>
    <ul>
      <li>Matje, slaapzak en een tent om in te slapen (spreek dit met je groep, district of gouw af)</li>
      <li>Je uniform</li>
      <li>Stevige stapschoenen </li>
      <li>Warme kledij voor ’s avonds en regenkledij</li>
      <li>Gamel en bestek. De HO beker krijg je bij aankomst</li>
      <li>Je bankkaart of cash geld</li>
      <li>Je lidkaart of inschrijvingsbewijs</li>
    </ul>
  </mat-card-content>
</mat-card>
