.voorwoord-header-avatar {
    background-image: url('../../assets/pictures/anton-smagghe-avatar.jpg');
    background-size: cover;
}
.voorwoord-header-image {
    max-height: 300px;
}

mat-card {
    margin: 10px;
}