<mat-card>
  <mat-card-header>
    <div mat-card-avatar
         class="voorwoord-header-avatar"></div>
    <mat-card-title>Welkom op HO!</mat-card-title>
    <mat-card-subtitle>van de verbondscommissaris</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
       class="voorwoord-header-image"
       src="../../assets/pictures/dasgoesting.jpg"
       alt="Jaarlogo DAS goesting in zicht">
  <mat-card-content>
    <p>
      Beste Scoutsend en Gidsend Vlaanderen,</p>
    <p>
      We mogen weer! Twee jaar lang was het
      verdacht stil op de Hoge Rielen, maar nu
      gaan we weer voor een volwaardige HO.
      Eentje met alles erop en eraan: een
      stevige dosis inspiratie, een overvloed
      aan vorming en (ont)spannende
      ontmoetingen.</p>
    <p>
      Herfstontmoeting is een unieke
      opportuniteit om te ontdekken hoe groot,
      divers en tegelijk verbonden onze
      beweging kan zijn. Samen bewijzen we dat
      het meest besmettelijke in de wereld
      niet een virus is, maar wel ons gedeeld
      aanstekelijk enthousiasme voor Scouting.</p>
    <p>
      Herfstontmoeting is het startschot voor
      een nieuw scoutsjaar, hét moment om
      energie en inspiratie op te doen om
      opnieuw een jaar lang het beste van
      jezelf te geven als leiding. Een
      boostershot aan Zin in Scouting.</p>
    <p>
      Laat deze gids je goesting geven om HO
      te ontdekken, laat HO je brandend vuur
      voor Scouting aanwakkeren en laat je
      een weekend lang onderdompelen in het
      nieuwe jaarthema, DAS Goesting</p>
    <p>
      Ik hoop dat jullie ontdekken, leren,
      connecteren en genieten van
      Herfstontmoeting en er net zoveel
      ZIN in hebben als wij!</p>
    <p>
      Steevast met een stevige linker,</p>
    <p>
      Jo Deman,<br />
      Jullie Verbondscommissaris</p>
  </mat-card-content>
</mat-card>
