<mat-card>
  <mat-card-header>
    <div mat-card-avatar
         class="voorwoord-header-avatar"></div>
    <mat-card-title>Welkom op HO!</mat-card-title>
    <mat-card-subtitle>van de verbondscommissaris</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
       class="voorwoord-header-image"
       src="../../assets/pictures/scoutmoedig.svg"
       alt="Jaarlogo scoutmoedig">
  <mat-card-content>
    <p>
      Herfstontmoeting is hét moment om
      energie en inspiratie op te doen voor een
      scoutmoedig scoutsjaar. Energie om te
      knallen, grote dromen waar te maken en
      de zorg te geven die leden nodig hebben.
      Inspiratie om net iets verder te gaan dan
      vorig jaar, om je als leiding nog zekerder
      te voelen in je rol.</p>
    <p>
      Herfstontmoeting toont met hoeveel we
      zijn en wat we allemaal gemeenschappelijk
      hebben. We zijn verbonden door
      de overtuiging dat we bijdragen aan een
      betere wereld. Vandaag, morgen en in de
      toekomst.</p>
    <p>
      Herfstontmoeting is gezellig samen zijn.
      Je kan uitwisselen tijdens de vormingen,
      het avondaanbod of de opruim. Vaak leer
      je gewoon spontaan bij. Van elkaar of
      door zelfs iets uit te proberen.</p>
    <p>
      Herfstontmoeting is het begin van een
      nieuw scoutsjaar, een shot aan goesting
      om erin te vliegen. Goesting om leiding
      te geven, om scoutmoedig te zijn en om
      door te geven wat je kreeg als kapoen,
      jonggiver of jin.</p>
    <p>
      Geniet van Herfstontmoeting,
      de verbondenheid,
      de inspiratie en de goesting.
    </p>
    <p>
      Anton Smagghe,<br>
      Jullie verbondscommissaris
    </p>
  </mat-card-content>
</mat-card>