<mat-card>
  <mat-card-header>
    <mat-card-title>Leefregels</mat-card-title>
    <mat-card-subtitle>
      We rekenen erop dat jullie de
wijsheid hebben om volgende acht
vuistregels op te volgen.
    </mat-card-subtitle>
  </mat-card-header>
  <img class="rules"
       mat-card-image
       src="/assets/pictures/2022_leefregels.png"
       alt="Leefregels figuren">
  <mat-card-content>
    <mat-list>
      <mat-list-item>Je drinkt alcohol met mate</mat-list-item>
      <mat-list-item>Je consumeert enkel drank aangeboden door de organisatie.</mat-list-item>
      <mat-list-item>Je respecteert vanaf 22 uur de nachtrust van anderen.</mat-list-item>
      <mat-list-item>Je toont respect voor elkaar, natuur en materiaal.</mat-list-item>
      <mat-list-item>Je neemt actief deel aan het programma.</mat-list-item>
      <mat-list-item>Je kickt zonder drugs.</mat-list-item>
      <mat-list-item>Je rookt enkel in de rookzones</mat-list-item>
      <mat-list-item>Geen ongepast getast</mat-list-item>
    </mat-list>
    <p>
      Door je in te schrijven voor
Herfstontmoeting, ga je akkoord met
de leefregels. Overtreed je de
leefregels, dan zal er een sanctie en
natraject volgen.
    </p>
  </mat-card-content>
</mat-card>
