<app-emergency-info>
</app-emergency-info>
<mat-card>
  <mat-card-header>
    <mat-card-title>Contact</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2>HO - info </h2>
    <a mat-button
       href="mailto:evenementen@scoutsengidsenvlaanderen.be">evenementen@scoutsengidsenvlaanderen.be</a>
    <h2>HO - inschrijvingen</h2>
    <a mat-button
       href="mailto:vorming@scoutsengidsenvlaanderen.be">vorming@scoutsengidsenvlaanderen.be</a>
    <h2>Scouts en Gidsen Vlaanderen vzw - Herfstontmoeting 2022</h2>
    <p>Wilrijkstraat 45<br>2140 Antwerpen<br>Tel 03 231 16 20</p>
    <a mat-button
       href="mailto:info@scoutsengidsenvlaanderen.be">info@scoutsengidsenvlaanderen.be</a>
  </mat-card-content>
</mat-card>
