<app-emergency-info>
</app-emergency-info>
<mat-card>
  <mat-card-header>
    <mat-card-title>Contact</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2>HO - info </h2>
    <a mat-button
       href="mailto:evenementen@scoutsengidsenvlaanderen.be">evenementen@scoutsengidsenvlaanderen.be</a>
    <h2>HO - inschrijvingen</h2>
    <a mat-button
       href="mailto:vorming@scoutsengidsenvlaanderen.be">vorming@scoutsengidsenvlaanderen.be</a>
    <h2>Scouts en Gidsen Vlaanderen vzw - Herfstontmoeting 2018</h2>
    <p>Wilrijkstraat 45<br>2140 Antwerpen<br>Tel 03 231 16 20</p>
    <a mat-button
       href="mailto:info@scoutsengidsenvlaanderen.be">info@scoutsengidsenvlaanderen.be</a>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Ploeg IT</mat-card-title>
  </mat-card-header>
  <img mat-card-image
       class="banner-it"
       src="/assets/pictures/ploeg-it-banner.jpg"
       alt="Vrijwilligers van Ploeg IT">
  <mat-card-content>

    <p>De ploeg Informatica is een ploeg dat de vinger aan de pols houdt van alle Informaticatoepassingen. Samen met
      de
      personeelsleden van de dienst Informatica bouwen zij mee aan onze tools.</p>
    <h3>Vorming</h3>
    <p>De ploeg Informatica probeert om de ICT-tools van Scouts en Gidsen Vlaanderen meer bekendheid te geven.</p>
    <p>Tools zoals de groepsadministratie krijgen continu nieuwe gebruikers en hiervoor organiseren we jaarlijks op
      Herfstontmoeting verschillende sessies en staan we op de markt.</p>
    <p>Het materiaal dat we daarvoor gebruiken stellen we ook graag ter beschikking voor regionale vormings op een
      districtsraad of voor binnen je groep.</p>

    <h3>Internationaal</h3>
    <p>De ploeg neemt ook al enkele jaren deel aan de Europese "Round Table" gesprekken waar uitwisseling tussen
      verschillenden europese landen bovenaan de agenda staat.</p>
    <p>Zo hebben we ook mee het <span class="st"><a href="http://scoutsguidesict.net"
           target="_blank">ICT Network</a> opgericht in de "<a href="http://www.europak-online.net/">European Regions
          of WOSM and WAGGGS</a>". Zo krijgt het thema ICT een betere ondersteuning door de wereld koepels.<br></span>
    </p>
    <h3>Contacteer</h3>
    <p>Heb je een vraag of suggestie, mail dan naar <a
         href="mailto:ploeg.it@scoutsengidsenvlaanderen.be">ploeg.it@scoutsengidsenvlaanderen.be</a>.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
            color="primary"
            [routerLink]="['/', 'ploeg-it']">Open het geocaches spel</button>
  </mat-card-actions>
</mat-card>