<mat-card>
  <mat-card-header>
    <mat-card-title>Jaarlied: “Scoutmoedig”</mat-card-title>
    <mat-card-subtitle>
      Tekst: Dorien Van den Broeck, Geoffrey Debondt,
      Joke Van der Maelen, Merel Wulteputte & Esther Sevens (Showploeg 2019)<br>
      Melodie: Geoffrey Debondt<br>
      Arrangement: Wouter Vander Veken
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <h4>Strofe 1:</h4>
    <p>
      Trek je scoutshemd aan<br>
      We kiezen voor het avontuur<br>
      En tonen wie we zijn<br>
      Aan elke ouder, ied’re buur
    </p>
    <p>
      Quiz of bekentocht<br>
      Elke week een nieuw verhaal<br>
      Ga je op je bek<br>
      Vallen doen we allemaal
    </p>
    <p>
      Want op de top van d’hoogste berg<br>
      Kan je het uitzicht beter zien
    </p>
    <h3> Refrein: </h3>
    <p class="refrein">
      Scouts is lukken<br>
      ook mislukken<br>
      Dan plots vallen<br>
      en weer door
    </p>
    <p class="refrein">
      Durven springen<br>
      luidkeels zingen<br>
      Gaan de uitdaging aan
    </p>
    <p class="refrein">
      Want er is veel meer in het leven<br>
      Durf een risico te nemen<br>
      Kies scoutmoedig, kies bewust<br>
      En je zal sterk staan
    </p>
    <h4> Strofe 2:</h4>
    <p>
      Met de boot of trein<br>
      Onderweg met veel kabaal<br>
      Op verkenning gaan<br>
      In een onbekende taal
    </p>
    <p>
      Sluipspel in het bos<br>
      Op overwinningen belust<br>
      Zet je zaklamp uit<br>
      De sterren stellen ons gerust
    </p>
    <p>
      Want op het klimrek van het leven<br>
      Durf ik me voluit te geven
    </p>
    <h3>Refrein:</h3>
    <p class="refrein">
      Scouts is lukken<br>
      ook mislukken<br>
      Dan plots vallen<br>
      en weer door
    </p>
    <p class="refrein">
      Durven springen<br>
      luidkeels zingen<br>
      Gaan de uitdaging aan
    </p>
    <p class="refrein">
      Want er is veel meer in het leven<br>
      Durf een risico te nemen<br>
      Kies scoutmoedig, kies bewust<br>
      En je zal sterk staan
    </p>
    <h4>Rap:</h4>
    <p>
      Bikke bikke bik<br>
      Hap hap hap<br>
      Vandaag geen soep<br>
      Maar wel ‘ne’ (w)rap
    </p>
    <p>
      Bovenstebuiten - onderstebinnen<br>
      Wat maakt het uit of we winnen?<br>
      Doe een bosspel op de straat<br>
      Zodat je je comfortzone verlaat
    </p>
    <p>
      Mijn marshmallow, die is verbrand<br>
      Gelukkig maar aan ene kant!
    </p>
    <p>
      Springen door de plassen<br>
      Je moet je echt niet wassen<br>
      Heb je een blauwe plek?<br>
      Of is’ t een schildervlek
    </p>
    <p>
      Schipper, 'k wil niet overvaren<br>
      Nee is nee!<br>
      “Hey jij!”, wilde gij met mij?
    </p>
    <p>
      <span class="hashtag">#ikkanda</span><br>
      Of nie of wel of nie<br>
      Want in de zee daar zitten haaien<br>
      en die bijten je…
    </p>
    <p>
      Bluuub!
    </p>
    <h3>
      Refrein
    </h3>
    <h3>
      Refrein (a cappella)
    </h3>
  </mat-card-content>
  <mat-card-footer>
    <p>© i.o.v. Scouts & Gidsen Vlaanderen</p>
  </mat-card-footer>
</mat-card>