<mat-card>
  <mat-card-header>
    <mat-card-title>Jaarlied: DAS Goesting</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Ogen open, een knotsgekke dag voor de boeg.<br>
      De tent uit haasten want starten doen we voor mij<br>
      nooit te vroeg. Hier kan ik echt gewoon mezelf zijn<br>
      Ja bij de scouts, daar is het toch zo fijn.
    </p>
    <p>
      En zeg jij eens, wat geeft jou energie?<br>
      Van alles leren en spelen met veel fantasie.<br>
      En wat met buiten zijn, vrienden om je heen<br>
      Da’s wat ik wil doen en nu meteen.
    </p>
    <p>
      Ah dan is de scouts de optie! Waar ik mezelf mag zijn!<br>
      Samen spelen, altijd actie. Scouting mijn terrein.
    </p>
    <p class="refrein">
      Van kapoen tot bij de leiding, je volgt je eigen reis<br>
      Ieder weekend weer een reden om jezelf te zijn.<br>
      Een spel met eigen regels, leren van elkaar.<br>
      Elk talent is hier inzetbaar. Ja, kies je eigen ding<br>
      DAS Goesting.
    </p>
    <p>
      Met onze das aan vertrekken we op avontuur.<br>
      En ’s avonds in een kring staren we in het vuur.<br>
      Wat een topmoment, + vrienden om ons heen.<br>
      Dit is de mooiste tijd voor iedereen!
    </p>
    <p>
      Ja de scouts, dat is de plaats waar je uniek kan zijn.<br>
      Dromen sjorren, wees paraat ja. Scouting ons terrein.
    </p>
    <p class="refrein">
      Van kapoen tot bij de leiding, we volgen onze reis<br>
      Ieder weekend weer een reden om onszelf te zijn.<br>
      Een spel met eigen regels, leren van elkaar.<br>
      Elk talent is hier inzetbaar. We kiezen ons eigen ding.
    </p>
    <p>
      DAS Goesting, DAS Goesting, DAS Goesting, Ja DAS
      Goesting. DAS Goesting, DAS Goesting, DAS Goesting,
      Ja DAS Goesting
    </p>
    <p class="refrein">
      Van kapoen tot bij de leiding, we volgen onze reis<br>
      Ieder weekend weer een reden om onszelf te zijn.<br>
      Een spel met eigen regels, leren van elkaar<br>
      Elk talent is hier inzetbaar. We kiezen ons eigen ding<br>
      DAS Goesting
    </p>
    <p>
      Kampen bouwen (DAS goesting)<br>
      Scoutshemd aan (DAS goesting)<br>
      Leiding geven (DAS goesting)<br>
      Whoa Oh Oh Oh
    </p>
    <p>
      Bij de scouts (DAS goesting)<br>
      Niet voor even (DAS goesting)<br>
      ’t Is gewoon (DAS goesting)<br>
      Voor het leven. DAS Goesting!
    </p>
  </mat-card-content>
  <mat-card-footer>
    <p>
      TEKST - Jarno Noblesse, Anton Maes<br>
      MUZIEK - Jarno Noblesse, Anton Maes, Tom Laisnez, Toon Janssens,
      Jasper Beekens, Kiran Van Duck, Matthew Dops en Wout Gielen<br>
      ZANG - Jarno Noblesse, Anneleen Torfs, Bjoke Gijsen, Babs Gijsen, Fien
      Delwiche en Machteld van Pottelbergh
    </p>
  </mat-card-footer>
</mat-card>
